#div_formulario
{
    background-color: #19647e;
    width: 600px;
    height: 500px;
    margin-left: 25%;
    border-radius: 45px;
}

#h3_create
{
    text-align: center;
}

.input_datos
{
    margin-left: 35%;
}